{% extends 'base.html.twig' %}

{% block title %} {{ parent()  }}{% endblock %}

{% block body %}
    <a href="{{ path('pokemon_list') }}"><img src="{{ asset('img/pokemon/pokemon_logo.svg.png') }}" alt=""></a>
{% endblock %}
