#pokemonDiv {
    margin-top: 50px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    place-items: center;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.pokemon_card {

    border-radius: 5px ;
    border: 2px solid black;
}

.pokeball>img {
    max-width: 20%;
}

.pokeball {
    margin: 0 auto;
}

#detailPokemon {
    max-width: 70%;
    margin: auto;
    padding: 5px;
    text-align: justify;
    text-justify: inter-word;
}

.statusPokemon {
    text-align: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

/*.pokeball {*/
/*    display: block;*/
/*    margin: auto;*/
/*}*/

